<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<main layout:fragment="content" class="container my-2">
    <script src="/js/transp/transpEmail.js"></script>
    <div class="container section-container p-4 border rounded shadow-sm">

        <!-- 입력 폼 (초기 화면에 보임) -->
        <th:block th:if="${transp.transpStatus == '배송준비중'}">
            <div id="formContainer">
                <h2>운송자 정보를 입력해주세요.</h2>
                <form th:action="@{/InfoSave}" method="post">
                    <input type="hidden" name="quoNo" th:value="${quoNo}">
                    <input type="hidden" name="bizNo" th:value="${bizNo}">
                    <input type="hidden" name="transpNo" th:value="${transpNo}">
                    
                    <label for="name">이름&nbsp;&nbsp;&nbsp;:</label>
                    <input type="text" id="driverName" name="driverName" required /><br><br>

                    <label for="phone">휴대폰:</label>
                    <input type="text" id="driverPhone" name="driverPhone" maxlength="13" oninput="autoHyphen(this)" required /><br><br>

                    <button type="submit">전송</button>
                    <hr>
                </form>
            </div>
        </th:block>

        <!-- 운송자 견적 정보 (초기에는 숨김) -->
        <th:block th:unless="${transp.transpStatus == '배송준비중'}">
            <div id="quoteContainer">
                <div class="text-center">
                    <h3>운송자 견적 정보</h3>
                    <table class="table table-bordered mt-4">
                        <thead>
                            <tr>
                                <th>발주 코드</th>
                                <th>품목 코드</th>
                                <th>품목 이름</th>
                                <th>품목 수량</th>
                                <th>출발지</th>
                                <th>도착지</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="q : ${quo}">
                                <td th:text="${q.orderNo}"></td>
                                <td th:text="${q.itemCode}"></td>
                                <td th:text="${q.name}"></td>
                                <td th:text="${q.qty}"></td>
                                <td th:text="${q.departure}"></td>
                                <td th:text="${q.dstn}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </th:block>

    </div>
</main>
</html>
