<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <script>
        function autoHyphen(input) {
            input.value = input.value
                .replace(/[^0-9]/g, '')
                .replace(/^(\d{3})(\d{4})(\d{4})$/, '$1-$2-$3');
        }
    </script>

    <style>
    
    </style>
</head>

<body>
    <main layout:fragment="content" class="container my-5">
        <h1>운송자 정보 입력</h1>
        <hr>
        <h2>운송자 정보를 입력해주세요.</h2>
        <form action="/InfoSave" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="bizNo" th:value="${bizNo}">
            <label for="name">이름&nbsp&nbsp&nbsp:</label>
            <input type="text" id="driverName" name="driverName" required><br><br>

            <label for="phone">휴대폰:</label>
            <input type="text" id="driverPhone" name="driverPhone" maxlength="13" oninput="autoHyphen(this)" required><br><br>

            <button type="submit">전송</button>
            <hr>
        </form>
    </main>
</body>

</html>