<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">      

<main layout:fragment="content" class="container my-2">

<link rel="stylesheet" href="/css/user/edit.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/user/edit.js"></script>
	        
<div class="container mt-5">
    <h2 class="mb-4">회원 정보 수정</h2>
    <div class="card p-4">
        <form th:action="@{/user/update}" method="post" id="signupForm3">
        
        	<input type="hidden" name="userNo" th:value="${rs.userNo}" />   
        	<input type="hidden" name="bizNo" th:value="${rs.bizNo}" />        	
            <input type="hidden" id="email_codeserverupdate_chk">
            <input type="hidden" id="email_codeauth_chk">
        
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">회원 아이디</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" id="email" th:value="${rs.email}" required readonly>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">회원 이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" th:value="${rs.name}" required readonly>
                </div>
            </div>           
                
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">새 비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" name="pwd" id="password" class="form-control" placeholder="새 비밀번호를 입력하면 변경됩니다." >
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">새 비밀번호 확인</label>
                <div class="col-sm-10">
                    <input type="password" id="password_confirm" class="form-control" placeholder="새로 입력한 비밀번호를 다시 입력하세요" >
                </div>
            </div>
            
            <div id="mailauthSection" class="row mb-3 form-group" style="display:none;">
			    <div class="d-flex align-items-center">        
			        <button type="button" id="check_email_btn" class="btn btn-primary me-3" style="min-width: 160px;" onclick="checkAuthEmail()">메일본인인증</button>
			        <label class="col-form-label me-2" id="authMsg">비밀번호 변경시 메일 인증을 통해 본인확인을 완료해주세요.</label>
			    </div>
			</div>
			
			<!-- 인증번호 입력란과 확인 버튼을 위한 영역 -->
            <div id="authSection" class="row mb-3 form-group" style="display:none;">
                <div class="col-sm-10 d-flex me-3">
                    <input type="text" id="authCode" class="form-control me-3" oninput="allowOnlyLettersAuthCode(event)" placeholder="메일 인증코드" style="width: 20%;">
                   
                    <button type="button" id="check_auth_btn" class="btn btn-primary" onclick="checkAuthCode()">확인</button>
                    
                    <!-- Countdown Timer -->
                       <span id="countdown" class="ms-3"></span>
                </div>
            </div>	
            
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">핸드폰번호</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" id="phone" class="form-control" th:value="${rs.phone}" placeholder="010-0000-0000" required>
                </div>
            </div>                
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">우편번호</label>
                <div class="col-sm-8">
                    <input type="text" name="zipcode" id="zipcode" class="form-control" th:value="${rs.zipcode}" placeholder="자동 입력되는칸" required readonly>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary" onclick="openPostcode()" style="min-width: 187px;">우편번호 검색</button>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">주소</label>
                <div class="col-sm-10">
                    <input type="text" name="adr" id="address" class="form-control" th:value="${rs.adr}" placeholder="자동 입력되는칸" required readonly>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">상세주소</label>
                <div class="col-sm-10">
                    <input type="text" name="detail_adr" id="address_detail" class="form-control" th:value="${rs.detail_adr}" placeholder="상세주소를 입력하세요" required>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label class="col-sm-2 col-form-label">사용자 권한</label>
                <div class="col-sm-10">
                    <select name="selectRole" class="form-select" required >
                        <option value="1" th:selected="${rs.roleName == 'ADMIN'}">관리자</option>
						<option value="2" th:selected="${rs.roleName == 'DEV'}">개발자</option>
						<option value="3" th:selected="${rs.roleName == 'USER'}">일반 사용자</option>
						<option value="4" th:selected="${rs.roleName == 'BIZ'}">거래처</option>
                    </select>
                </div>                
            </div>
            
            <!-- 거래처 선택 영역이 동적으로 표시될 위치 -->
			<div class="row mb-3 form-group" id="businessSelectContainer" style="display: none;">
			    <div class="d-flex align-items-center w-100">
			        <label class="col-sm-2 col-form-label mb-0">거래처 선택</label>
			        <div class="col-sm-10 role-container">
			            <!-- 거래처 이름 select 박스가 이곳에 동적으로 삽입됩니다. -->
			        </div>
			    </div>
			</div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/user/list" class="btn btn-secondary">취소</a>
            </div>
        </form>
    </div>
</div>
</main>
</html>