/* Google Font을 사용하여 스타일리시한 글씨체 추가 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        
/* header animation set */
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

/* header animation set */
@keyframes colorChange {
   
    0% { 
        color: #10AB8C;         
    }
    50% { 
        color: #F2D22E;         
    }
    100% { 
        color: #10AB8C;         
    }
}

.flip {
    animation: colorChange 6s ease-in-out infinite;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: bold;
}


/* header 배경색 그라디언트 지정 */
.header-bg-custom {
    /*background: linear-gradient(45deg, #A8C0FF, #FFC0CB); */
    background: linear-gradient(45deg, #FF7E5F, #FEB47B);
    display: flex; /* Flexbox 사용 중앙 정렬 */ 
 	justify-content: center; /* 수평 중앙 정렬 */
 	align-items: center; /* 수직 중앙 정렬 */
 	height:80px;
}
        
.animated-text {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* 텍스트에 그림자 추가 */                
}
 
