<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">      
<main layout:fragment="content" class="container my-4">
    <link rel="stylesheet" href="/css/common/home.css">
	<script src="/js/common/home.js"></script>
	<div>
		<h2 class="text-center my-4">팀 개발자</h2> <!-- 추가된 부분 -->
		<ul class="row g-4 justify-content-center" id="use"></ul>
	</div>
</main>
</html>
